    <div class="">
      <div class="py-24 lg:py-32">
        <div class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-extrabold tracking-tight text-black sm:text-5xl lg:text-6xl">{{ title }}</h1>
          <p class="mt-6 text-xl text-gray-500 max-w-3xl">{{ description | safe }}</p>
        </div>
      </div>
    </div>