                <div class="sm:col-span-2">
                  <label htmlFor="{{inputId}}" class="">
                    {{labelText}}
                  </label>
                  <div class="mt-1">
                    <input
                      type="text"
                      name="{{inputId}}"
                      id="{{inputId}}"
                      placeholder="Exact name from product page"
                      class="form-text-input"
                    />
                  </div>
                </div>